/* Overall layout */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f6fa;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #edf0fc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo h2, .welcome {
    color: #0033cc;
  }
  
  .logo h2 {
    margin-bottom: 40px;
  }
  
  .welcome {
    background-color: #cce1ff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .welcome p{
    font-size: 20px;
    font-weight: 600;
  }
  .nav-links ul {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
  }
  .nav-item:hover,
  .nav-item.active {
    background-color: #d9e4ff;
  }
  
  .nav-item.active {
    background-color: #b3cfff;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .notifications {
    position: relative;
  }
  
  .notification-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .logout {
    margin-top: auto;
    background-color: #ffcccc;
    color: red;
  }
  
  .logout:hover {
    background-color: #ff9999;
  }
  
  /* Main content */
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  .no-account-message {
    background-color: #ffeeee;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
  }
  
  .warning-icon {
    font-size: 3rem;
    color: #ffcc00;
    margin-bottom: 10px;
  }
  
  .no-account-message p {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
